<div class="form-body">
    <form
      autocomplete="off"
      [formGroup]="updateForm"
      (ngSubmit)="onUpdate()"
    >
      <div>
        <label>Name: </label>
        <input type="text" formControlName="name" autocomplete="off" />
      </div>
      <div>
        <label>anatomy: </label>
        <input type="text" formControlName="anatomy" autocomplete="off" />
      </div>
      <div>
        <label>etiology: </label>
        <input type="text" formControlName="etiology" autocomplete="off" />
      </div>
      <div>
        <label>epidemiology: </label>
        <input type="text" formControlName="epidemiology" autocomplete="off" />
      </div>
      <div>
        <label>transmission: </label>
        <input type="text" formControlName="transmission" autocomplete="off" />
      </div>
      <div>
        <label>pathogeny: </label>
        <input type="text" formControlName="pathogeny" autocomplete="off" />
      </div>
      <div>
        <label>symptom: </label>
        <input type="text" formControlName="symptom" autocomplete="off" />
      </div>
      <div>
        <label>diagnosis: </label>
        <input type="text" formControlName="diagnosis" autocomplete="off" />
      </div>
      <div>
        <label>differential: </label>
        <input type="text" formControlName="differential" autocomplete="off" />
      </div>
      <div>
        <label>treatment: </label>
        <input type="text" formControlName="treatment" autocomplete="off" />
      </div>
      <div>
        <label>control: </label>
        <input type="text" formControlName="control" autocomplete="off" />
      </div>
      <div>
        <label>bibliography: </label>
        <input type="text" formControlName="bibliography" autocomplete="off" />
      </div>
      <div>
        <label>categories: </label>
        <input type="text" formControlName="categories" autocomplete="off" />
      </div>
      <div>
        <label>thumbnail: </label>
        <input type="file" autocomplete="off" (change)="onThumbnailSelected($event)"/>
      </div>
      <div>
        <label>Banner: </label>
        <input type="file" autocomplete="off" (change)="onBannerSelected($event)"/>
      </div>
      <div>
        <label>Common Image: </label>
        <input type="file" autocomplete="off" (change)="onCommonSelected($event)"/>
      </div>
      <button type="submit">Submit</button>
    </form>
</div>
