<!-- <amplify-authenticator>
  <div>
    Isca App
    <amplify-sign-out></amplify-sign-out>
  </div>
   previous code 
</amplify-authenticator>
<div class="form-body">
    <form
      autocomplete="off"
      [formGroup]="createForm"
      (ngSubmit)="onCreate(createForm.value)"
    >
      <div>
        <label>Name: </label>
        <input type="text" formControlName="name" autocomplete="off" />
      </div>
      <div>
        <label>anatomy: </label>
        <input type="text" formControlName="anatomy" autocomplete="off" />
      </div>
      <div>
        <label>etiology: </label>
        <input type="text" formControlName="etiology" autocomplete="off" />
      </div>
      <div>
        <label>epidemiology: </label>
        <input type="text" formControlName="epidemiology" autocomplete="off" />
      </div>
      <div>
        <label>transmission: </label>
        <input type="text" formControlName="transmission" autocomplete="off" />
      </div>
      <div>
        <label>pathogeny: </label>
        <input type="text" formControlName="pathogeny" autocomplete="off" />
      </div>
      <div>
        <label>symptom: </label>
        <input type="text" formControlName="symptom" autocomplete="off" />
      </div>
      <div>
        <label>diagnosis: </label>
        <input type="text" formControlName="diagnosis" autocomplete="off" />
      </div>
      <div>
        <label>differential: </label>
        <input type="text" formControlName="differential" autocomplete="off" />
      </div>
      <div>
        <label>treatment: </label>
        <input type="text" formControlName="treatment" autocomplete="off" />
      </div>
      <div>
        <label>control: </label>
        <input type="text" formControlName="control" autocomplete="off" />
      </div>
      <div>
        <label>bibliography: </label>
        <input type="text" formControlName="bibliography" autocomplete="off" />
      </div>
      <div>
        <label>categories: </label>
        <input type="text" formControlName="categories" autocomplete="off" />
      </div>
      <div>
        <label>thumbnail: </label>
        <input type="file" autocomplete="off" (change)="onThumbnailSelected($event)"/>
      </div>
      <div>
        <label>Banner: </label>
        <input type="file" autocomplete="off" (change)="onBannerSelected($event)"/>
      </div>
      <div>
        <label>Common Image: </label>
        <input type="file" autocomplete="off" (change)="onCommonSelected($event)"/>
      </div>
      <button type="submit">Submit</button>
    </form>
</div>

<div class="container-d">
    <div class="deseases" *ngFor="let desease of deseases">
      <div>
        <button (click)="onDelete(desease)">Delete</button>
        <a [routerLink]="['/','edit-desease', desease.id]">Update</a>
      </div>
      <div>{{ desease.name }}</div>
      <div>{{ desease.anatomy }}</div>
      <div>{{ desease.etiology }}</div>
      <div>{{ desease.epidemiology }}</div>
      <div>{{ desease.transmission }}</div>
      <div>{{ desease.pathogeny }}</div>
      <div>{{ desease.symptom }}</div>
      <div>{{ desease.diagnosis }}</div>
      <div>{{ desease.differential }}</div>
      <div>{{ desease.treatment }}</div>
      <div>{{ desease.control }}</div>
      <div *ngFor="let biblio of desease.bibliography">
          {{biblio}}
      </div>
      <div *ngFor="let cate of desease.categories">
        {{cate}}
      </div>
      <div *ngFor="let cate of desease.categories">
        {{cate}}
      </div>
      <amplify-s3-image 
        [imgKey]="desease.thumbnail"
      ></amplify-s3-image> 
      <amplify-s3-image 
        [imgKey]="desease.banner"
      ></amplify-s3-image> 
      <amplify-s3-image 
        [imgKey]="desease.commonImage"
      ></amplify-s3-image> 
    </div>
</div>
 -->
