<div class="bg-dark text-white rdl">
<div class="content-heading">
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Enfermedades</h3>
        </div>
    </div></div>
</div>
<!-- <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" >Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">Disabled</a>
    </li>
</ul> -->
<div class="content-body">
    <div class="container col-xs-12 col-sm-12">
        <div class="tab-content color-panel">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <div class="has-feedback">
                            <label class="control-label">Buscador</label>
                            <input #filtro [(ngModel)]="buscar" type="text" placeholder="Buscar..." 
                            class="form-control bg-dark text-white">
                            <span class="fas fa-search form-control-feedback text-muted"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group pull-right">
                        <label class="control-label">Opciones</label><br>
                        <button type="button" class="btn btn-labeled btn-info"
                        (click)="abrir(true);cambio(1,'',0)">
                            <span class="btn-label btn-label-left">
                                <fa-icon [icon]="faPlusCircle"></fa-icon>
                            </span> Agregar Enfermedad
                        </button>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsible">
                        <table class="table text-white" id="enfermedades">
                            <thead>
                                <th class="pointer">Nombre</th>
                                <th class="pointer">Fecha de modificación</th>
                                <th class="pointer-s col-sm-3">Opciones</th>
                            </thead>
                            <tbody>
                                <!-- | Filter: filtro.value: searhFields -->
                                <tr *ngFor="let enf of enfermedades | Filter: filtro.value: atributosb">
                                    <td>{{enf.nombre}}</td>
                                    <td>{{enf.fecha_ingreso | date:"dd/MM/yyyy hh:mm a"}}</td>
                                    <td class="col-sm-3">
                                        <button class="btn btn-warning btn-sm col-xs-6"
                                        (click)="abrir(true);cambio(2,enf.nombre,enf.id_enfermdad)">
                                            <fa-icon [icon]="faPencilAlt"></fa-icon>
                                            Editar
                                        </button>
                                        &nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-danger btn-sm col-xs-6"
                                        (click)="eliminar(enf.id_enfermdad)">
                                            <fa-icon [icon]="faTimesCircle"></fa-icon>
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>

</div>

<!-- <div *ngIf="abrircerrar" class="modal modal-sheet position-static d-block py-5 bg-dark text-white rdl" tabindex="-1" 
role="dialog" id="modalSheet">
<div class="modal-dialog bg-dark text-white" role="document">
    <div class="modal-content rounded-6 shadow bg-dark text-white">
        <div class="modal-header border-bottom-0">
            <h2 class="modal-title">{{titulomodal}}</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="abrir(false)">
            </button>
          </div>
          <div class="modal-body py-0">
            <div class="form-group">
                <div>
                    <label class="control-label">Nombre de la enfermedad</label>
                    <input [(ngModel)]="enfermedad" type="text" 
                    class="form-control bg-dark text-white">
                </div>
            </div>
          </div>
          <div class="modal-footer flex-column border-top-0">
            <button type="button" *ngIf="!tipos" (click)="agregar()"
            class="btn btn-lg btn-success w-100 mx-0 mb-2">Guardar</button>
            <button type="button" *ngIf="tipos" (click)="modificar()"
            class="btn btn-lg btn-success w-100 mx-0 mb-2">Modificar</button>
            <button type="button" class="btn btn-lg btn-danger w-100 mx-0" data-bs-dismiss="modal" (click)="abrir(false)">Cancelar</button>
          </div>
      </div>
  </div>
  </div>

<div *ngIf="error" class="modal modal-sheet position-static d-block py-5 bg-dark text-white rdl" tabindex="-1" 
role="dialog" id="modalSheet">
<div class="modal-dialog bg-dark text-white" role="document">
    <div class="modal-content rounded-6 shadow bg-dark text-white">
        <div class="modal-header border-bottom-0">
            <h2 class="modal-title text-danger">Error <fa-icon [icon]="faTimes"></fa-icon></h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="errores(false)">
            </button>
        </div>
      </div>
  </div>
  </div> -->


