html,
body {
    margin: 0;
}

.div_contenedor {
    background: #f5f5f5;
    margin-left: 200px;
    margin-right: 200px;
}

.div_izquierdo {
    background: white;
    width: 200px;
    height: 200px;
    position: absolute;
    height: 100%;
    left: 0px;
}

.div_derecho {
    background: white;
    width: 200px;
    height: 200px;
    position: absolute;
    height: 100%;
    right: 0px;
}

.example-card {
    max-width: 200px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}